.units {
  display: flex;
  justify-content: space-evenly;

  max-width: 800px;
  margin: 60px auto 0;

  font-size: 24px;
}

.unit {
  text-align: center;
}

.unit img {
  width: 120px;
  display: block;
  margin: 12px 0 16px;
}

/* wiggle! */
@keyframes vibrate {
  0%, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
    -webkit-transform: translate3d(1px, 0, 0);
            transform: translate3d(1px, 0, 0);
  }
}

.inUse {
  animation: vibrate 1.5s linear infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

@media (min-width: 576px) {
  .unit img {
    width: 160px;
  }
}