.units {
  display: flex;
  justify-content: space-evenly;

  margin-top: 60px;
}

.unit {
  text-align: center;
}

.unit img {
  width: 120px;
  filter: invert(100%);
  display: block;
  margin-bottom: 10px;
}
