<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Check Laundry</title>
    <meta name="description" content="A simple service so I don't have to walk down 2 flights of stairs to see if the washing machines are available." />
		<meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/x-icon" href="<%= htmlWebpackPlugin.files.publicPath %>/favicon.ico">
		<% preact.headEnd %>
	</head>
	<body>
		<% preact.bodyEnd %>
	</body>
</html>
